.smooth-scroll {
    transition: left 250ms;
}

.navigation-icon {
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.backward-icon {
    background-position: 0px -81px;
}

.forward-icon {
    background-position: -25px -81px;
}